* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.terms-wrapper {
  position: relative;
  white-space: nowrap;
}

.terms-wrapper p {
  position: absolute;
  background: rgb(218, 212, 212);
  color: black;
  border-radius: 10px;
  top: -50px;
  left: -20px;
  padding: 5px 30px;
}


.top-card {
  border: 1px solid gray;
  padding: 0 !important;
  border-radius: 10px;
  cursor: pointer;
}

.top-card:has(input:checked) {
  box-shadow: 0 0 15px white;
  border: 1px solid white
}

.top-card input {
  display: none;
}

.top-card label {
  display: flex;
  padding: 1px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}